<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Font Awesome -> the icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <!-- App CSS  -->
  <link rel="stylesheet" href="/styles/single-car.css" type="text/css" />

  <title>Single Car Features</title>
</head>

<body>
  <%- include('partials/_header') %>
    <main>
      <!-- Cards Horizontal -->
      <div class="card border-secondary mb-3" id="card-with-details">
        <div class="row g-0">
          <div class="col-md-6">
            <div class="card-body">
              <img src="<%= car.car_photo_url %>" class="img-fluid rounded" alt="image for car" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <h5 class="card-title">
                Card title : <%= car.car_make %>
                  <%= car.car_year %>
              </h5>
              <!-- Tables without border-->
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <th scope="row">
                      <i class="fa-regular fa-calendar-days"></i> Year:
                    </th>
                    <td>
                      <%= car.car_year %>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row"><i class="fa-regular fa-map"></i> Make:</th>
                    <td>
                      <%= car.car_make %>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <i class="fa-regular fa-life-ring"></i> Model:
                    </th>
                    <td>
                      <%= car.car_model %>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <i class="fa-duotone fa-dollar-sign"></i> Price:
                    </th>
                    <td>$<%= car.listing_price/100 %>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Description:</th>
                    <td class="description">
                      <%= car.description %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-2">
            <!-- Forms -->
            <form class="message-form"
              action="mailto:<%= car.owner_email %>?subject=Mail%20From%20Cars%20WebSite&body=Is%20this%20car%20available"
              method="POST">
              <div>
                <h5>Contact Car Owner</h5>
              </div>
              <div>
                <p class="card-text">
                  <small class="text-muted">Write your message to car owner.</small>
                </p>
                <!-- <input type="text" name="anotherInput" value="test1" /> -->
                <textarea class="form-control" id="message-text" placeholder="Your message" name="message"></textarea>
              </div>
              <br />
              <button type="submit" class="btn btn-outline-info">
                Send Message
              </button>
            </form>
            <br>

            <span class="random_text" style="font-size: 48px; color: black;">
              <i class="far fa-star"></i>
            </span>
            <br>
          </div>
          <% if(userObj.id===car.owner_id || userObj.is_admin){ %>
            <button type="submit" class="btn btn-outline-info" id="edit-car-toggle">
              Edit listing
            </button>
            <% } %>
        </div>
      </div>

      <% if(userObj.id===car.owner_id || userObj.is_admin){ %>
        <!-- Cards Horizontal - Edit form -->
        <div id="card-with-edits">
          <div class="card border-secondary mb-3">
            <div class="row g-0">
              <div class="col-md-6">
                <div class="card-body">
                  <img src="<%= car.car_photo_url %>" class="img-fluid rounded" alt="Upload new/valid url"
                    id="carImagePreview" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <h5 class="card-title">Edit car info</h5>
                  <!-- Forms -->
                  <form class="new_listing_form" action="/cars/new" method="POST">
                    <div class="input-group mb-3 car_form_element">
                      <span class="input-group-text" id="inputGroup-sizing-default">Car model</span>
                      <input type="text" name="car_model" class="form-control" value="<%= car.car_model %>" />
                    </div>

                    <div class="input-group mb-3 car_form_element">
                      <span class="input-group-text" id="inputGroup-sizing-default">Car make</span>
                      <input type="text" name="car_make" class="form-control" value="<%= car.car_make %>" />
                    </div>

                    <div class="input-group mb-3 car_form_element">
                      <span class="input-group-text" id="inputGroup-sizing-default">Car year</span>
                      <input type="text" name="car_year" class="form-control" value="<%= car.car_year %>" />
                    </div>

                    <div class="input-group mb-3 car_form_element">
                      <span class="input-group-text border-0">Listing price($)</span>
                      <input type="text" name="listing_price" class="form-control rounded"
                        aria-label="Amount (to the nearest dollar)" value="<%= car.listing_price/100 %>" />
                      <span class="input-group-text border-0">.00</span>
                    </div>

                    <div class="input-group mb-3 car_form_photo_element" id="imageInputBox">
                      <span class="input-group-text" id="inputGroup-sizing-default">Add photo url</span>
                      <input type="text" class="form-control" id="carURLInputValue" value="<%= car.car_photo_url %>" />
                    </div>

                    <div class="input-group mb-3 car_form_description_element">
                      <span class="input-group-text" id="inputGroup-sizing-default">Description</span>
                      <textarea class="form-control" id="textAreaExample" rows="4">
<%= car.description %></textarea>
                    </div>
                    <div class="car_form_button">
                      <button type="submit" class="btn btn-outline-info">
                        Update listing
                      </button>
                      <button type="submit" class="btn btn-outline-info" id="edit-car-toggle-cancel">
                        Cancel
                      </button>
                      <button type="submit" class="btn btn-outline-danger">
                        Delete Posting
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% } %>
    </main>
</body>

<script type="text/javascript" src="/scripts/app.js"></script>

</html>
