<!DOCTYPE html>
<html lang="en">

<head>
  <title>User Account</title>
  <link rel="stylesheet" href="/styles/user.css">
</head>

<body>
  NAV BAR HERE
  <section class='account_info'>
    <h1 class='account_heading'>Account info: 🥔</h1>
    <% if (user) { %>
      <div class='acc_info_id'>
        User id: <%= user.id %>
      </div>
      <div class='acc_info_element'>
        Name: <%= user.name %>
        <form>
            <input type="text" name="user_name" value="<%= user.name%>">
            <button type="submit" class="btn btn-primary">Update name</button>
        </form>
      </div>
      <div class='acc_info_element'>
        Email: <%= user.email %>
        <form>
          <input type="text" name="user_email" value="<%= user.email%>">
          <button type="submit" class="btn btn-primary">Update email</button>
      </form>
      </div>
      <div class='acc_info_element'>
        Phone: <%= user.phone %>
        <form>
          <input type="text" name="user_phone" value="<%= user.phone%>">
          <button type="submit" class="btn btn-primary">Update phone</button>
      </form>
      </div>
      <% } %>

  </section>
  <section>
    <br>Stretch: add listing data/statistics here
  </section>
</body>

</html>
